:root{
    --bg-dark-purple: hsla(260, 62%, 11%, 1);
    --bg-russian-violet: hsla(259, 61%, 14%, 1);
    --bg-vivid-violet: hsla(273, 100%, 55%, 1);
    --bg-sunglow: hsla(43, 100%, 61%, 1);
    --bg-blue-jeans: hsla(202, 100%, 50%, 1);
    --bg-white-alpha-10: hsla(0, 0%, 100%, 0.1);


    --text-white: hsla(0, 0%, 100%, 1);
    --text-black: hsla(0, 0%, 0%, 1);
    --text-sunglow: hsla(43, 100%, 61%, 1);
    --text-white-alpha-60: hsla(0, 0%, 100%, 0.6);

    --border-blue-jeans: hsla(202, 100%, 50%, 1);
    --border-white-alpha-10: hsla(0, 0%, 100% 0.1);
}